
@{
    ViewBag.Title = "Reset_Password2";
}
<link rel="stylesheet" type="text/css" href="~/Content/main2.css" />
<link rel="stylesheet" type="text/css" href="~/Content/util.css" />
<link rel="stylesheet" type="text/css" href="~/Content/Awesome-Font/css/font-awesome.min.css" />
<h3> @ViewBag.R</h3>

<body>
    
        <div class="limiter">
            <div class="container-login100">
                <div class="wrap-login100">
                    <span class="login100-form-title">
                        Recuperar su Contraseña
                    </span>
                    @using (Html.BeginForm("ResetPassword2", "User"))
                    {
                        <div class="wrap-inputfp">
                            @Html.TextBox("psswrdTemporal", null, new { @class = "input100", placeholder = "Contraseña Temporal" })
                            <span class="focus-input100"></span>
                            <span class="symbol-input100">
                                <i class="fa fa-lock" aria-hidden="true"></i>
                            </span>
                        </div>
                        <div class="wrap-inputfp">
                            @Html.TextBox("psswrdNueva", null, new { @class = "input100", placeholder = "Contraseña Nueva" })
                            <span class="focus-input100"></span>
                            <span class="symbol-input100">
                                <i class="fa fa-lock" aria-hidden="true"></i>
                            </span>
                        </div>
                        <div class="wrap-inputfp">
                            @Html.TextBox("psswrdConfirmar", null, new { @class = "input100", placeholder = "Confirmar Contraseña" })
                            <span class="focus-input100"></span>
                            <span class="symbol-input100">
                                <i class="fa fa-lock" aria-hidden="true"></i>
                            </span>
                        </div>
                        <div class="container-login100-form-btn">
                            <input type="submit" value="Actualizar Contraseña" class="login100-form-btn  btn-success  " />
                        </div>
                    }
                    <div class="text-center p-t-136">
                        <a class="txt2">
                            <i class="fa fa-arrow-left" aria-hidden="true"></i>
                            @Html.ActionLink("Volver a enviar el correo", "Resete_Password1")
                        </a>
                    </div>
                    <div class="text-center p-t-136">
                        <a class="txt2">
                            @Html.ActionLink("Actualizar y volver al inicio", "Index")
                            <i class="fa fa-arrow-right" aria-hidden="true"></i>
                        </a>

                    </div>
                </div>
            </div>
        </div>


    </body>

